@import url('./font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.an-1 {
  background: linear-gradient(-45deg, #172554, #001657, #172554, #172554);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}